# .clang-format
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 150
AllowShortFunctionsOnASingleLine: false
SortIncludes: true
BraceWrapping:
  AfterControlStatement: Always
ElseIfBraceStyle: AlwaysBreak